<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.mydaemondemo">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:name=".MyDaemonApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.OnePxActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/OnePxActStyle" />

        <service android:name=".service.DaemonJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".service.RemoteService" android:process=":remote" />
        <service android:name=".service.RemoteService$InnerService" android:process=":remote" />

        <service android:name=".service.LocalService" />
        <service android:name=".service.LocalService$InnerService" />

        <!-- 无声音乐 -->
        <service
            android:name=".service.LiveService2"
            android:enabled="true"
            android:priority="1000"
            android:exported="true"
            android:process=":keepalive2"/>

        <service android:name=".service.FrontService" android:process=":front"/>


        <receiver android:name=".receiver.OnePixelReceiver"/>
    </application>

</manifest>